* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Roboto,
    -apple-system,
    Helvetica,
    sans-serif;
}

.homepage {
  background-color: rgba(206, 227, 151, 1);
  display: flex;
  padding: 93px 80px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  width: 100%;
  max-width: 1216px;
  padding-left: 56px;
  padding-top: 37px;
  flex-direction: column;
  align-items: stretch;
}

.brand-name {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family:
    Roboto,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 900;
  align-self: start;
}

.content-wrapper {
  margin-top: 142px;
}

.two-column-layout {
  gap: 20px;
  display: flex;
}

.text-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 39%;
  margin-left: 0px;
}

.text-content {
  z-index: 10;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  align-self: stretch;
  align-items: start;
  font-family:
    Roboto,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  color: rgba(0, 0, 0, 1);
  font-weight: 800;
}

.main-heading {
  font-size: 48px;
}

.description {
  font-size: 24px;
  font-weight: 300;
  align-self: stretch;
  margin-top: 33px;
}

.login-button {
  border: none;
  border-radius: 50px;
  background-color: rgba(139, 205, 205, 1);
  margin-top: 33px;
  padding: 15px 57px;
  font-size: 20px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  cursor: pointer;
  font-family:
    Roboto,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}

.image-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 61%;
  margin-left: 20px;
}

.hero-image {
  aspect-ratio: 1.12;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .homepage {
    padding: 93px 20px;
  }

  .container {
    max-width: 100%;
    padding-left: 20px;
  }

  .content-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }

  .two-column-layout {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }

  .text-column {
    width: 100%;
  }

  .text-content {
    max-width: 100%;
    margin-top: 40px;
  }

  .main-heading {
    font-size: 40px;
  }

  .description {
    max-width: 100%;
  }

  .login-button {
    padding: 15px 20px;
    white-space: initial;
  }

  .image-column {
    width: 100%;
    margin-left: 0;
  }

  .hero-image {
    max-width: 100%;
  }
}
